.background
{
    -fx-background-color: #b3d665;
}

.label
{
    -fx-font: 20px "Verdana";
    -fx-text-fill: white;
}

.label-title
{
    -fx-font: 45px "Verdana";
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.label-gameover
{
    -fx-font: 30px "Verdana";
        -fx-text-fill: white;
        -fx-font-weight: bold;
}

.vbox
{
    -fx-background-color: #557d32;
    -fx-background-radius: 10px;
}

.button
{
    -fx-font: 14px "Verdana";
    -fx-text-fill: white;
    -fx-background-color: #557d32;
    -fx-background-radius: 7px;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #598334;
}
