.background
{
    -fx-background-color: #b3d665;
}

.label
{
    -fx-font: 20px "Verdana";
    -fx-text-fill: white;
}

.label-title
{
    -fx-font: 30px "Verdana";
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.vbox
{
    -fx-background-color: #557d32;
    -fx-background-radius: 20px;
}

.button
{
    -fx-font: 14px "Verdana";
    -fx-text-fill: white;
    -fx-background-color: green;
    -fx-background-radius: 20px;
    -fx-cursor: hand;
}