.background
{
    -fx-background-color: #21252b;
}

.label
{
    -fx-font: 20px "Arial";
    -fx-text-fill: white;
}

.label-title
{
    -fx-font: 30px "Arial";
    -fx-text-fill: white;
    -fx-font-weight: bold;
}