Rectangle {
    -fx-fill: #7CF2FF;
    -fx-stroke: #1682CC;
    -fx-stroke-width: 5;
    -fx-arc-height: 15;
    -fx-arc-width: 15;
}

Circle {
    -fx-fill: #FEB0D7;
    -fx-stroke: #A24770;
    -fx-stroke-width: 5;
}

Pane {
    -fx-border-width: 7;
    -fx-border-color: #697489;
    
}

AnchorPane {
    -fx-background-color: #21252B;
}

Label {
    -fx-font: 18px "Arial";
    -fx-text-fill: white;
}

.label-title {
    -fx-font: 20px "Arial";
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

VBox {
    -fx-background-color: #697489;
    -fx-background-radius: 10px;
    -fx-border-color: #a4aec2;
    -fx-border-radius: 10px;
    -fx-border-width: 5px;
}

MenuBar {
    -fx-background-color: #697489;
    -fx-font: 16px "Arial";
    -fx-text-fill: white;
    -fx-padding: 0;
}

.menu-bar > .container > .menu-button
{
    -fx-background-color: transparent;
}

.menu-bar > .container > .menu-button > .label
{
    -fx-text-fill: white;
}

.menu-bar > .container > .menu-button:hover > .label,
.menu-bar > .container > .menu-button:focused > .label,
.menu-bar > .container > .menu-button:showing  > .label
{
    -fx-font-weight: bold;
}

.menu-item:hover,
.menu-item:focused,
.menu-item:showing
{
    -fx-background-color: #a4aec2;
}

.context-menu {
    -fx-background-color: white;
    -fx-padding: 0
}