/* 
    Created on : Nov 30, 2021, 12:37:48 AM
    Author     : Justin Karp
*/

@font-face {
    font-family: 'Hyperspace';
    src: url('HyperspaceBold.otf');
}

BorderPane {
    -fx-background-color: #000000;
}

Label {
    -fx-font-family: 'Hyperspace'; 
    -fx-font-size: 78;
    -fx-text-fill: #FFFFFF;
}

Button {
    -fx-font-family: 'Hyperspace';
    -fx-font-size: 36;
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #000000;
}

Canvas {
    
}

#labelCopyRight {
    -fx-font-size: 18;
}