/*
 * Empty Stylesheet file.
 */

.title-label
{
    -fx-font: 24px "Helvetica";
    -fx-text-fill: dodgerblue;
}

.text-field
{
    -fx-background-color: black;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-text-fill: white;
    -fx-font: 14px "Helvetica";
}

.small-vbox {
    -fx-background-color:#1c1c1c;
    -fx-background-radius: 20px;
}

.button
{
    -fx-font: 14px "Helvetica";
    -fx-font-weight: bold; 
    -fx-text-fill: white;
    
    -fx-background-radius: 8px;
    -fx-background-color: #3a3a3a;
    
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.button:hover
{ 
    /* alternative blue color: #4095d2 */
    -fx-background-color: #606060;
    
    -fx-border-color: dodgerblue;
    -fx-border-width: 2;
    -fx-border-radius: 7px;
    
    -fx-effect: dropshadow(three-pass-box, rgba(64,149,210,0.8), 10, 0, 0, 0);
}

.button:pressed
{
    -fx-background-color: #353535;
}

.hyperlink{
    -fx-font: 13px "Helvetica";
    -fx-text-fill: dodgerblue;
}
