.background
{
    -fx-background-color: #161616;
}

.dropdown-menu
{
    -fx-background-color: #232323;
    -fx-background-radius: 5px;
    -fx-border-color: #535353;
    -fx-border-radius: 5px;
}

.button
{
    -fx-font: 14px "Helvetica";
    -fx-text-fill: white;
    -fx-background-radius: 20px;
    -fx-background-color: #232323;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #272727;
}

.button-dropdown
{
    -fx-font: 14px "Helvetica";
    -fx-text-fill: white;
    -fx-background-radius: 5px;
    -fx-background-color: #232323;
    -fx-border-color: #232323;
    -fx-border-radius: 5px;
    -fx-cursor: hand;
}

.button-dropdown:hover
{
    -fx-background-color: #0866CC;
    -fx-border-color: #0866CC;
}

.button-blue
{
    -fx-font: 14px "Helvetica";
    -fx-text-fill: white;
    -fx-background-radius: 20px;
    -fx-background-color: #0866CC;
    -fx-cursor: hand;
}

.button-blue:hover {
    -fx-background-color: #0f6ad7;
}

.label
{
    -fx-font: 14px "Helvetica";
    -fx-text-fill: white;
    -fx-line-spacing: 5.0;
}

.label-game-title
{
    -fx-font: 24px "Helvetica";
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.label-X-button
{
    -fx-font: 20px "Helvetica";
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.circle
{
    -fx-cursor: hand;
}