.background
{
    -fx-background-color: #161616;
}

.small-vbox
{
    -fx-background-color: #232323;
    -fx-background-radius: 20px;
}

.button
{
    -fx-font: 14px "Arial";
    -fx-text-fill: white;
    -fx-background-radius: 20px;
    -fx-background-color: #0866CC;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #0f6ad7;
}

.label
{
    -fx-font: 14px "Arial";
    -fx-text-fill: white;
}

.label-error
{
    -fx-font: 14px "Arial";
    -fx-text-fill: #ff4242;
}

.label-link
{
    -fx-font: 14px "Arial";
    -fx-text-fill: #0866CC;
    -fx-cursor: hand;
}

.label-link:hover {
    -fx-text-fill: #0f6ad7;
}

.label-title
{
    -fx-font: 24px "Arial";
    -fx-text-fill: white;
}

.text-field
{
    -fx-font: 14px "Arial";
    -fx-text-fill: white;
    -fx-background-color: #161616;
    -fx-background-radius: 20px;
}