.background
{
    -fx-background-color: #161616;
}

.small-vbox
{
    -fx-background-color: #202020;
    -fx-background-radius: 20px;
}

.button
{
    -fx-font: 14px "Helvetica";
    -fx-text-fill: white;
    -fx-background-radius: 20px;
    -fx-background-color: #0866CC;
    -fx-border-color: #0866CC;
    -fx-border-radius: 20px;
    -fx-cursor: hand;
}

.label
{
    -fx-font: 14px "Helvetica";
    -fx-text-fill: white;
}

.label-error
{
    -fx-font: 14px "Helvetica";
    -fx-text-fill: #ff4242;
}

.label-link
{
    -fx-font: 14px "Helvetica";
    -fx-text-fill: #0866CC;
    -fx-cursor: hand;
}

.label-title
{
    -fx-font: 24px "Helvetica";
    -fx-text-fill: white;
}

.text-field
{
    -fx-font: 14px "Helvetica";
    -fx-text-fill: white;
    -fx-background-color: #161616;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}