.label
{
    -fx-font: 14px "Helvetica";
}

.title-label
{
    -fx-font: 30px "Helvetica";
    -fx-text-fill: dodgerblue;
}

.text-field
{
    -fx-background-color: black;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-font: 14px "Helvetica";
}

.small-vbox {
    -fx-background-color:#1c1c1c;
    -fx-background-radius: 20px;
}

.button {
    -fx-background-radius: 20px;
    -fx-background-color: black;
    -fx-border-color: dodgerblue;
    -fx-border-radius: 20px;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-font: 14px "Helvetica";
}